Flask==2.0.2
marshmallow==3.14.1
pyshorteners==1.0.1
requests==2.26.0
validators==0.18.2
Werkzeug==2.0.2
charset-normalizer==2.0.7
click==8.0.3
decorator==5.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.6.4
MarkupSafe==2.0.1
setuptools==57.4.0
six==1.16.0
unshortenit==0.4.0
urllib3==1.26.7